<h3 class="text-center mt-5 mb-4">Modifier un locataire</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@apartment, @tenant] do |f| %>
          <%= f.input :current_tenant, label: "Locataire en place", collection: [["Oui", true], ["Non", false]], as: :radio_buttons, label_method: :first, value_method: :second %>
          <%= f.input :company_id, collection: @companies, label: "Selectionner une société", include_blank: false, include_hidden: false, class:"field_input" %>
          <%= f.input :building_id, collection: @buildings, label: "Selectionner un immeuble", include_blank: false, include_hidden: false %>
          <%= f.input :apartment_id, collection: @apartments, label: "Selectionner un appartement", include_blank: false, include_hidden: false %>
          <%= f.input :first_name, label: "Prénom" %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :email, label: "Email" %>
          <%= f.input :phone, label: "Numéro de téléphone" %>
          <%= f.input :rent, label: "Montant du loyer" %>
          <%= f.input :service_charge, label: "Montant des charges" %>
          <%= f.input :deposit, label: "Dépôt de garantie" %>
          <%= f.input :contract, label: false %>
          <%= f.input :contract_cache, as: :hidden %>
          <%= f.input :inventory, label: false %>
          <%= f.input :inventory_cache, as: :hidden %>
          <%= f.input :move_in_date, label: "Date d'entrée", :order => [:day, :month, :year] %>
          <%= f.input :move_out_date, label: "Date de sortie", :order => [:day, :month, :year] %>
          <%= f.submit "Modifier", class: "btn btn-yellow-mustard mb-2" %>
          <%= link_to "Annuler", root_path, class:"btn btn-danger mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  // Change building automatically
  document.querySelector("#tenant_company_id").addEventListener("change", (event) => {
    let urlPath = origin
    let url = urlPath + "/tenants.json"
    // GET REQUEST
    fetch(url)
     .then(response => response.json())
      .then((data) => {
        const input = document.querySelector("#tenant_company_id");
        const output = document.querySelector("#tenant_building_id");
        // Get the information in the field company
        const input_data = input.options[input.selectedIndex].text;
        // Delete information in the filed building
        output.innerHTML = ""
        // Add n/a - aucun immeuble
        output.insertAdjacentHTML('beforeend',
          `<option value="n/a - aucun immeuble</option>">n/a - aucun immeuble</option>`
        );
        // Add all building where company is the same as input
        data.forEach((item)=>{
          // console.log(item)
          if (item.company_name == input_data) {
            output.insertAdjacentHTML('beforeend',
              `<option value="${item.building_id}">${item.building_name}</option>`
            );
          }
        })
        const input_a = document.querySelector("#tenant_building_id");
        const output_a = document.querySelector("#tenant_apartment_id");
        const input_data_a = input_a.options[input_a.selectedIndex].text;
        console.log(input_data_a)
        output_a.innerHTML = ""
        data.forEach((item)=>{
          if (item.apartment_building_name == input_data_a && item.apartment_company_name == input_data) {
            output_a.insertAdjacentHTML('beforeend',
              `<option value="${item.apartment_apartment_id}">${item.apartment_apartment_name}</option>`
            );
          }
        })
      }
    );
  });
  // Change apartment automatically
  document.querySelector("#tenant_building_id").addEventListener("change", (event) => {
    let urlPath = origin
    let url = urlPath + "/tenants.json"
    // GET REQUEST
    fetch(url)
     .then(response => response.json())
      .then((data) => {
        const input = document.querySelector("#tenant_company_id");
        const output = document.querySelector("#tenant_building_id");
        const input_a = document.querySelector("#tenant_building_id");
        const output_a = document.querySelector("#tenant_apartment_id");
        // Get the information in the field company
        const input_data = input.options[input.selectedIndex].text;
        const input_data_a = input_a.options[input_a.selectedIndex].text;
        // Delete information in the filed building
        output_a.innerHTML = ""
        // Add all building where company is the same as input
        data.forEach((item)=>{
          if (item.apartment_building_name == input_data_a && item.apartment_company_name == input_data) {
            output_a.insertAdjacentHTML('beforeend',
              `<option value="${item.apartment_apartment_id}">${item.apartment_apartment_name}</option>`
            );
          }
        })
      }
    );
  });
</script>