<h3 class="text-center mt-5 mb-4">Modifier un locataire</h3>
<div class="container center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@apartment, @tenant] do |f| %>
          <%= f.input :current_tenant, label: "Locataire en place", collection: [["Oui", true], ["Non", false]], as: :radio_buttons, label_method: :first, value_method: :second %>
          <%= f.input :first_name, label: "Prénom" %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :email, label: "Email" %>
          <%= f.input :phone, label: "Numéro de téléphone" %>
          <%= f.input :rent, label: "Montant du loyer" %>
          <%= f.input :service_charge, label: "Montant des charges" %>
          <%= f.input :deposit, label: "Dépôt de garantie" %>
          <%= f.input :contract, label: "Le contrat de bail" %>
          <%= f.input :inventory, label: "L'état des lieux" %>
          <%= f.input :move_in_date, label: "Date d'entrée" %>
          <%= f.input :move_out_date, label: "Date de sortie" %>
          <%= f.submit "Modifier", class: "btn mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>