<h3 class="text-center mt-5 mb-4">Ajouter un nouveau locataire</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <% if params[:apartment_id] != nil %>
          <%= simple_form_for [@apartment, @tenant] do |f| %>
            <%= f.input :first_name, label: "Prénom" %>
            <%= f.input :last_name, label: "Nom" %>
            <%= f.input :email, label: "Email" %>
            <%= f.input :phone, label: "Numéro de téléphone" %>
            <%= f.input :rent, label: "Montant du loyer" %>
            <%= f.input :service_charge, label: "Montant des charges" %>
            <%= f.input :deposit, label: "Dépôt de garantie" %>
            <%= f.input :contract, label: false %>
            <%= f.input :contract_cache, as: :hidden %>
            <%= f.input :inventory, label: false %>
            <%= f.input :inventory_cache, as: :hidden %>
            <%= f.input :move_in_date, label: "Date d'entrée", :order => [:day, :month, :year] %>
            <%= f.submit "Créer", class: "btn btn-yellow-mustard mb-2" %>
            <%= link_to "Annuler", root_path, class:"btn btn-danger mb-2" %>
          <% end %>
        <% else %>
          <%= simple_form_for [@tenant] do |f| %>
            <%#= f.input :company_id, collection: @companies, label: "Selectionner une société", include_blank: "n/a - détention en nom propre", include_hidden: false, class:"field_input" %>
            <%#= f.input :building_id, collection: @buildings, label: "Selectionner un immeuble", include_blank: "n/a - aucun immeuble", include_hidden: false %>
            <%= f.input :apartment_id, collection: @apartments, label: "Selectionner un appartement", include_blank: false, include_hidden: false %>
            <%= f.input :first_name, label: "Prénom" %>
            <%= f.input :last_name, label: "Nom" %>
            <%= f.input :email, label: "Email" %>
            <%= f.input :phone, label: "Numéro de téléphone" %>
            <%= f.input :rent, label: "Montant du loyer" %>
            <%= f.input :service_charge, label: "Montant des charges" %>
            <%= f.input :deposit, label: "Dépôt de garantie" %>
            <%= f.input :contract, label: false %>
            <%= f.input :contract_cache, as: :hidden %>
            <%= f.input :inventory, label: false %>
            <%= f.input :inventory_cache, as: :hidden %>
            <%= f.input :move_in_date, label: "Date d'entrée", :order => [:day, :month, :year] %>
            <%= f.submit "Créer", class: "btn btn-yellow-mustard mb-2" %>
            <%= link_to "Annuler", root_path, class:"btn btn-danger mb-2" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>