<% associe = @tenant.apartment.building.company.associe.split(",").map(&:strip) %>
<% if associe.include?(current_user.email) || @tenant.email == current_user.email %>
  <div class="container mt-5">
    <h3 class="mt-5 text-center">Le paiement du loyer et la consommation d'eau</h3>
    <h5 class="text-center">de <%= @tenant.first_name %> <%= @tenant.last_name %></h5>
    <!-- Information tenant -->
    <% if associe.include?(current_user.email) %>
      <p><%= link_to "Retour", apartment_path(@tenant.apartment)  %></p>
    <% end %>
    <div class="row">
      <div class="p-3 col-12 col-md-6 offset-md-3 mt-4">
        <div class="border p-3">
          <p>Adresse du batiment : <%= @tenant.apartment.name %>, <%= @tenant.apartment.building.address %> </p>
          <p>Nom : <%= @tenant.first_name %></p>
          <p>Prénom : <%= @tenant.last_name %></p>
          <p>Email : <%= @tenant.email %></p>
          <p>Téléphone : <%= @tenant.phone %></p>
          <p>Montant du loyer : <%= @tenant.rent %></p>
          <p>Montant des charges : <%= @tenant.service_charge %></p>
          <p>Montant de la caution : <%= @tenant.deposit %></p>
          <!-- cloudinary -->
          <p class="mb-1">Contrat de bail :
            <%= link_to "Ouvrir", "https://res.cloudinary.com/myhouze/image/upload/#{@tenant.contract.filename}", :target => "_blank",class: "btn btn-transparent mx-2" %>
            <%= link_to "Télécharger", "https://res.cloudinary.com/myhouze/image/upload/fl_attachment/#{@tenant.contract.filename}", :target => "_blank",class: "btn btn-transparent" %>
          </p>
          <p>Etat des lieux :
            <%= link_to "Ouvrir", "https://res.cloudinary.com/myhouze/image/upload/#{@tenant.inventory.filename}", :target => "_blank",class: "btn btn-transparent mx-2" %>
            <%= link_to "Télécharger", "https://res.cloudinary.com/myhouze/image/upload/fl_attachment/#{@tenant.inventory.filename}", :target => "_blank",class: "btn btn-transparent" %>
          </p>
          <!-- ------- -->
          <p>Date d'entrée : <%= @tenant.move_in_date %></p>
          <% if @tenant.current_tenant == false  %>
            <p>Date de sortie : <%= @tenant.move_out_date %></p>
          <% end %>
          <% if associe.include?(current_user.email) %>
            <div class="mt-3">
              <%= link_to "Modifier", edit_tenant_path(@tenant)  %>
              <% if associe.include?(current_user.email)  %>
                <%= link_to "Supprimer", tenant_path(@tenant), method: :delete  %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- LOYER -->
    <div class="mt-5">
      <h5 class="border-top pt-3">Paiement du loyer</h5>
      <div class="mt-2 mb-4">
        <% associe = @tenant.apartment.building.company.associe.split(",").map(&:strip) %>
        <% if associe.include?(current_user.email) %>
          <%= link_to "Déclarer le paiement du loyer", new_tenant_rent_path(@tenant) %>
        <% end %>
      </div>
      <!-- recherche date -->
      <%= form_for :search, defaults: { required: false }, url:tenant_path(@tenant), method: "GET", html: { class: '' } do |f| %>
        <%= f.select :date,  [Date.today.year, Date.today.year - 1,Date.today.year - 2, Date.today.year - 3 ], html: { style:"border: solid"} %>
        <%= f.submit "Choisir", class: "btn-yellow-mustard-big my-3" %>
      <% end %>
      <!-- Tableau  -->
      <div class="" style="overflow:scroll;">
        <div class="mb-5" style="font-size: 12px ">
          <table class="table table-hover" style="background-color: white">
            <thead>
              <tr>
                <th scope="col">Mois</th>
                <th scope="col">Loyer appelé</th>
                <th scope="col">Charges appelés</th>
                <th scope="col">Loyer versé</th>
                <th scope="col">Charges versés</th>
                <th scope="col">Solde</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @rents.each do |rent| %>
                <tr>
                  <td><%= rent.period.strftime("%b %Y") %></td>
                  <td><%= rent.rent_ask %></td>
                  <td><%= rent.service_charge_ask %></td>
                  <td><%= rent.rent_paid %></td>
                  <td><%= rent.service_charge_paid %></td>
                  <td><%= rent.rent_ask + rent.service_charge_ask - rent.service_charge_paid - rent.rent_paid %></td>
                  <% if associe.include?(current_user.email) %>
                    <td>
                      <%= link_to "", edit_rent_path(rent), class:"fas fa-edit" %> /
                      <%= link_to "",rent_path(rent), method: :delete, class:"fas fa-trash" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <tr style="font-weight: bolder">
                <td>TOTAL</td>
                <td><%= @sum_rent_ask %></td>
                <td><%= @sum_service_charge_ask %></td>
                <td><%= @sum_rent_paid %></td>
                <td><%= @sum_service_charge_paid %></td>
                <td><%= @solde %></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
    <!-- EAU -->
    <div clas="my-5">
      <h5 class="border-top pt-3">Consommation d'eau</h5>
      <div class="mt-2 mb-4">
        <%= link_to "Déclarer ma consommation d'eau", new_tenant_water_path(@tenant) %>
      </div>
      <p class="">Numéro du compteur : <%= @tenant.apartment.water %> </p>
      <div class="" style="overflow:scroll;">
        <div class="mb-5" style="font-size: 12px ">
          <table class="table table-hover" style="background-color: white">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Quantité</th>
                <th scope="col">Justificatif</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @waters.each do |water| %>
                <tr>
                  <td><%= water.submission_date.strftime("%d/%m/%Y") %></td>
                  <td><%= water.quantity %></td>
                  <td>
                    <%= link_to "Ouvrir", "https://res.cloudinary.com/myhouze/image/upload/#{water.photo.filename}", :target => "_blank",class: "btn btn-transparent py-0", style: "font-size:12px" %>
                  </td>
                  <td>
                    <% if associe.include?(current_user.email) %>
                      <%= link_to "", edit_water_path(water), class:"fas fa-edit" %> /
                      <%= link_to "", water_path(water), method: :delete, class:"fas fa-trash" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h3 class="text-center my-5" style="color:red">Vous n'avez pas accès à cette page</h3>
<% end %>