<h3 class="text-center mt-5 mb-4">Modifier mon compte</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first_name, label: "Prénom"%>
            <%= f.input :last_name, label: "Nom"%>
            <%= f.input :phone, label: "Téléphone" %>
            <%= f.input :statut, collection: ["Locataire", "Propriétaire"], label: "Profil" %>
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :password, label: "Nouveau mot de passe",
                hint: "Laissez blanc si vous ne voulez pas changer votre mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: "Confirmer votre nouveau mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password, label: "Mot de passe actuel",
                hint: "Nous avons besoin de votre mot de passe actuel pour confirmer la modification",
                required: true,
                input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Modifier", class: "btn btn-yellow-mustard mb-2" %>
          </div>
        <% end %>
        <!-- <h3>Cancel my account</h3> -->
        <!--  <p>Unhappy? <%#= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>