<h3 class="text-center mt-5 mb-4">Declarer le paiement de loyer</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@tenant, @rent] do |f| %>
          <%= f.input :date_payment, label: "Date d'encaissement", :order => [:day, :month, :year] %>
          <%= f.input :period, label: "Période", :order => [:month, :year] %>
          <%= f.input :rent_ask, label: "Montant du loyer à payer", input_html: { value: @tenant.rent } %>
          <%= f.input :service_charge_ask, label: "Montant des charges à payer", input_html: { value: @tenant.service_charge } %>
          <%= f.input :rent_paid, label: "Montant du loyer encaissé" %>
          <%= f.input :service_charge_paid, label: "Montant des charges encaissé" %>
          <%= f.submit "Créer", class: "btn btn-yellow-mustard mb-2", data: { confirm: "Confirmez votre saisie ?"  } %>
          <%= link_to "Annuler", root_path, class:"btn btn-danger mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>