<div class="hide-on-small">
  <div class="d-flex justify-content-around pt-4 my-5">
    <!-- ICON Immeuble -->
    <!--    <div class="" style="width: 100px">
      <div class="d-flex justify-content-center mb-2">
        <%#= link_to "Immeubles", company_buildings_path(@apartment.building.company), style:"color: black; text-decoration: none"%>
      </div>
      <div class="icon-building border d-flex justify-content-center align-items-center">
        <span class=""  style="font-size: 40px"><%#= link_to "", company_buildings_path(@apartment.building.company), class:"fas fa-building", style:"color: white; text-decoration: none"%>
        </span>
      </div>
    </div> -->
    <!-- ICON Apartment -->
    <div class="" style="width: 100px">
      <div class="d-flex justify-content-center mb-2">
        <%= link_to "Appartements", building_apartments_path(@apartment.building), style:"color: black; text-decoration: none"  %>
      </div>
      <div class="icon-apartment-active border d-flex justify-content-center align-items-center">
        <span class=""  style="font-size: 40px"><%= link_to "", building_apartments_path(@apartment.building), class:"fas fa-house-user", style:"color: white; text-decoration: none"%>
        </span>
      </div>
    </div>
    <!-- ICON Depense -->
    <div style="width: 100px">
      <div class="d-flex justify-content-center mb-2">
        <%= link_to "Dépenses", building_expenses_path(@apartment.building), style:"color: black; text-decoration: none"  %>
      </div>
      <div class="icon-expense border d-flex justify-content-center align-items-center">
        <span class=""  style="font-size: 40px"><%= link_to "", building_expenses_path(@apartment.building), class:"fas fa-euro-sign", style:"color: white; text-decoration: none"%>
        </span>
      </div>
    </div>
    <!-- ICON charges -->
    <div style="width: 100px">
      <div class="d-flex justify-content-center mb-2">
        <%= link_to "Charges locatives", "", style:"color: black; text-decoration: none; white-space: nowrap"  %>
      </div>
      <div class="icon-charges border d-flex justify-content-center align-items-center">
        <span class=""  style="font-size: 40px"><%= link_to "", "", class:"fas fa-coins", style:"color: white; text-decoration: none"%>
        </span>
      </div>
    </div>
    <!-- ICON liasses -->
    <div style="width: 100px">
      <div class="d-flex justify-content-center mb-2">
        <%= link_to "Revenus fonciers", building_liasses_path(@apartment.building), style:"color: black; text-decoration: none; white-space: nowrap"  %>
      </div>
      <div class="icon-liasse border d-flex justify-content-center align-items-center">
        <span class=""  style="font-size: 40px"><%= link_to "", building_liasses_path(@apartment.building), class:"fas fa-file-invoice", style:"color: white; text-decoration: none"%>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- MOBILE -->
<div class="hide-on-large">
  <div class="pt-4 my-4">
    <div class="row justify-content-center">
      <!-- ICON Immeuble -->
      <!-- <div class="col-4 mb-4" style="width: 80px">
        <div class="d-flex justify-content-center mb-2">
          <%#= link_to "Immeubles", company_buildings_path(@apartment.building.company), style:"color: black; text-decoration: none"%>
        </div>
        <div class="d-flex justify-content-center">
          <div class="icon-building border d-flex justify-content-center align-items-center" style="width:80px; height:80px">
            <span class=""  style="font-size: 30px"><%#= link_to "", company_buildings_path(@apartment.building.company), class:"fas fa-building", style:"color: white; text-decoration: none"%>
            </span>
          </div>
        </div>
      </div> -->
      <!-- ICON Apartment -->
      <div class="col-6 mb-4" style="width: 80px">
        <div class="d-flex justify-content-center mb-2">
          <%= link_to "Appartements", building_apartments_path(@apartment.building), style:"color: black; text-decoration: none"  %>
        </div>
        <div class="d-flex justify-content-center">
          <div class="icon-apartment border d-flex justify-content-center align-items-center" style="width:80px; height:80px">
            <span class=""  style="font-size: 30px"><%= link_to "", building_apartments_path(@apartment.building), class:"fas fa-house-user", style:"color: white; text-decoration: none"%>
            </span>
          </div>
        </div>
      </div>
      <!-- ICON Depense -->
      <div class="col-6 mb-4" style="width: 80px">
        <div class="d-flex justify-content-center mb-2">
          <%= link_to "Dépenses", building_expenses_path(@apartment.building), style:"color: black; text-decoration: none"  %>
        </div>
        <div class="d-flex justify-content-center">
          <div class="icon-expense border d-flex justify-content-center align-items-center" style="width:80px; height:80px">
            <span class=""  style="font-size: 30px"><%= link_to "", building_expenses_path(@apartment.building), class:"fas fa-euro-sign", style:"color: white; text-decoration: none"%>
            </span>
          </div>
        </div>
      </div>
      <!-- ICON charges -->
      <div class="col-6 mb-4" style="width: 80px">
        <div class="d-flex justify-content-center mb-2">
          <%= link_to "Charges", "", style:"color: black; text-decoration: none; white-space: nowrap"  %>
        </div>
        <div class="d-flex justify-content-center">
          <div class="icon-charges-active border d-flex justify-content-center align-items-center" style="width:80px; height:80px">
            <span class=""  style="font-size: 30px"><%= link_to "", "", class:"fas fa-coins", style:"color: white; text-decoration: none"%>
            </span>
          </div>
        </div>
      </div>
      <!-- ICON liasses -->
      <div class="col-6 mb-4" style="width: 80px">
        <div class="d-flex justify-content-center mb-2">
          <%= link_to "Revenus", building_liasses_path(@apartment.building), style:"color: black; text-decoration: none; white-space: nowrap"  %>
        </div>
        <div class="d-flex justify-content-center">
          <div class="icon-liasse border d-flex justify-content-center align-items-center" style="width:80px; height:80px">
            <span class=""  style="font-size: 30px"><%= link_to "", building_liasses_path(@apartment.building), class:"fas fa-file-invoice", style:"color: white; text-decoration: none"%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>