<div class="navbar navbar-expand-lg navbar-light navbar-lewagon py-0">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex align-items-center">
      <%= cl_image_tag "https://res.cloudinary.com/myhouze/image/upload/v1598990980/logo_rb_wegxxi.png", style: "width:30px", class: "" %>
      <p class="ml-2 mb-0 p-0" style="font-family: Simply Rounded"><span style="color:#3a3a3c; font-size: 35px">Rb</span></p>
      <p class="mb-0 p-0" style="color:#D8A727; font-size: 35px; font-family: Simply Rounded">tool</p>
    </div>
    <p class="my-0 py-0 ml-2" style="font-size: 14px; color: rgb(100, 100, 100)">L'outil de gestion de  <span style="color: #3a3a3c; font-family: Simply Rounded">Real</span><span style="color: #D8A727; font-family: Simply Rounded">beez</span></p>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item d-flex align-items-center">
          <div class="hide-on-small">
            <%= link_to "Louer mon bien immobilier", "https://www.realbeez.com/", :target => "_blank", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold mr-3" %>
          </div>
        </li>
        <%= render "shared/vertical_navbar_mobile" %>
        <div class="hide-on-small">
          <li class="nav-item dropdown">
            <%= cl_image_tag "https://res.cloudinary.com/myhouze/image/upload/v1598991031/default_profile_ivuqcv.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Modifier mon profil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </div>
      <% else %>
        <li class="nav-item d-flex align-items-center">
          <%= link_to "Louer mon bien immobilier", "https://www.realbeez.com/", :target => "_blank", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold mr-3" %>
        </li>
        <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>