<% unless @building.statut == "deleted" || @building.company.statut == "deleted" %>
  <% associe = @building.company.associe.downcase.split(",").map(&:strip) %>
  <% if associe.include?(current_user.email) || @building.company.user == current_user || @building.user == current_user || current_user.admin == true %>
    <div class="container my-5">
      <h3 class="text-center mt-5" style="color: #D8A727; font-family: Simply Rounded; letter-spacing: 1px">Liasses fiscales de l'immeuble</h3>
      <h5 class="text-center mb-4">situés au <%= @building.address %></h5>
      <p class="mt-5">
        <%= link_to "Page d'accueil", root_path, style:"text-decoration:none; color:rgb(100, 100, 100)"  %> >
        <%= link_to "Sociétés", companies_path, style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
        <%= link_to "Immeubles", company_path(@building.company), style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
        <%= link_to "Liasses fiscales", building_liasses_path(@building), style:"text-decoration:none; color:rgb(100, 100, 100)" %>
      </p>
      <!-- Navigation laptop-->
      <div class="profile-friends hide-on-small my-5" style="" >
        <div class="search navigations" style="border-radius: 7px">
          <h3 style="font-size: 16px"><%= link_to "Appartements", building_apartments_path(@building), style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
          <h3 style="font-size: 16px"><%= link_to "Dépenses", building_expenses_path(@building), style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
          <h3 style="font-size: 16px; white-space: nowrap">Charges locatives</h3>
          <h3 class="active" style="font-size: 16px; border-radius: 0 7px 7px 0"><%= link_to "Liasses fiscales", building_liasses_path(@building), style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
        </div>
      </div>
      <!-- Navigation mobile -->
      <div class="profile-friends hide-on-large mt-5">
        <div class="search navigations" style="overflow:scroll; border-radius: 7px 7px 0 0">
          <h3 style="font-size: 16px"><%= link_to "Appartements", building_apartments_path(@building), style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
          <h3 style="font-size: 16px"><%= link_to "Dépenses", building_expenses_path(@building), style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
        </div>
      </div>
      <div class="profile-friends hide-on-large mb-5" style="" >
        <div class="search navigations" style="overflow:scroll; border-radius: 0 0 7px 7px">
          <h3 style="font-size: 16px"><%= link_to "Charges locatives", "", style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
          <h3 class="active" style="font-size: 16px; border-radius: 0 0 7px 0"><%= link_to "Liasses fiscales", building_liasses_path(@building), style:"color: rgb(100, 100, 100); text-decoration: none"%></h3>
        </div>
      </div>
      <% unless @apartments == [] %>
        <div class="row">
          <div class="p-3 col-12 col-md-6 offset-md-3 my-4">
            <div class="p-4 content border mb-4", style="box-shadow: 0 0 5px rgba(0,0,0,0.1); background-color: white">
              <p style="font-weight: bolder">Chiffres <%= Date.today.year %> : Immeuble <%= @building.address %></p>
              <p class="mb-1">Loyers charges comprises encaissés : <%= '%.0f' % (@building_sum_rent_paid + @building_sum_service_charge_paid) %> € </p>
              <p><em>Loyers hors charges encaissés : </em><%= '%.0f' % @building_sum_rent_paid  %> €</p>
              <p class="border-bottom mx-4"> </p>
              <p class="mb-1">Loyers charges comprises manquant : <%= '%.0f' % @building_solde %> €</p>
              <p class="mb-1">Loyers charges comprises attendus : <%= '%.0f' % @building_loyer_annuel  %> €</p>
              <% if @building_loyer_annuel != 0 && @building_loyer_annuel != nil  %>
                <p>% atteint : <%= '%.2f' % ((@building_sum_rent_paid + @building_sum_service_charge_paid) / @building_loyer_annuel * 100)  %> %</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- Liasse fiscale -->
      <h5 class="border-top pb-2 pt-4"><strong>Les liasses fiscales</strong></h5>
      <div class="mt-2 mb-4">
        <p><%= link_to "Créer une liasse fiscale", new_building_liass_path(@building), class:"btn btn-transparent-bold"%></p>
      </div>
      <% @liasses.each do |liasse| %>
        <%= link_to liasse.year.strftime("%Y"), liass_path(liasse), class: "btn btn-transparent-bold mb-5" %>
      <% end %>
    </div>
  <% else %>
    <h3 class="text-center my-5" style="color:red">Vous n'avez pas accès à cette page</h3>
  <% end %>
<% else %>
  <h3 class="text-center my-5" style="color:red">Cet immeuble a été supprimé</h3>
<% end %>