<% associe = @building.company.associe.split(",").map(&:strip) %>
<% if associe.include?(current_user.email) %>
  <div class="container my-5">
    <h3 class="text-center mt-5" style="color: #D8A727; font-family: Simply Rounded; letter-spacing: 1px">Liasse fiscal <%= @liasse.year.strftime("%Y") %></h3>
    <h5 class="text-center mb-4">Immeuble <%= @building.address %></h5>
    <p class="mt-5">
      <%= link_to "Page d'accueil", root_path, style:"text-decoration:none; color:rgb(100, 100, 100)"  %> >
      <%= link_to "Sociétés", companies_path, style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
      <%= link_to "Immeubles", company_path(@liasse.building.company), style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
      <%= link_to "Appartements", building_path(@liasse.building), style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
      <%= link_to "Liasses", liass_path(@liasse), style:"text-decoration:none; color:rgb(100, 100, 100)"  %>
    </p>
    <div class="col-12 col-md-8 offset-md-2">
      <table class="table table-hover my-5" style="background-color: white; font-size : 12px; font-style: lighter">
        <thead>
          <tr>
            <th scope="col" style="font-size: 15px">LIBELLES</th>
            <th scope="col" style="font-size: 15px">MONTANT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>2. Recettes</strong></td>
            <td></td>
          </tr>
          <tr>
            <td>1. Montant brut des fermages ou des loyers encaissés</td>
            <td class="text-right"><%= '%.0f' % @building_sum_rent_paid %></td>
          </tr>
          <tr>
            <td><strong>3. Deductions, frais et charges</strong></td>
            <td></td>
          </tr>
          <tr>
            <td>6. Frais d'administration et de gestion</td>
            <td class="text-right"><%= '%.0f' % @frais_admin %></td>
          </tr>
          <tr>
            <td>7. Autres frais de gestion non déductibles pour leur montant réel (forfait €20 x nb appart)</td>
            <td class="text-right"><%= '%.0f' % @autre_frais_non_deductible %></td>
          </tr>
          <tr>
            <td>8. Primes d'assurance</td>
            <td class="text-right"><%= '%.0f' % @sum_assurance %></td>
          </tr>
          <tr>
            <td>9. Dépenses de réparation, d'entretien et d'amélioration</td>
            <td class="text-right"><%= '%.0f' % @depense_de_reparation %></td>
          </tr>
          <tr>
            <td>11. Charges récupérables non récupérées au départ du locataire</td>
            <td class="text-right"><%= '%.0f' % @sum_non_paye %></td>
          </tr>
          <tr>
            <td>13. Impositions</td>
            <td class="text-right"><%= '%.0f' % @sum_taxe %></td>
          </tr>
          <tr>
            <td><strong>18. TOTAL DES DEDUCTIONS, FRAIS ET CHARGES</strong></td>
            <td class="text-right"><strong><%= '%.0f' % @total_deduction %></strong></td>
          </tr>
          <tr>
            <td>21. Intérêts des emprunts contracté l'acquisition, la reconstruction, l'agrandissement, la réparation, l'amélioration ou la conservation de l'immeuble</td>
            <td class="text-right"><%= '%.0f' % @sum_interet %></td>
          </tr>
          <tr>
            <td><strong>22. REVENUS (+) ou DEFICITS (-)</strong></td>
            <td class="text-right"><strong><%= '%.0f' % @revenus %></strong></td>
          </tr>
          <tr>
            <td><strong>25. REVENUS NETS (+) ou DEFICITS (-)</strong></td>
            <td class="text-right"><strong><%= '%.0f' % @revenus %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% else %>
    <h3 class="text-center my-5" style="color:red">Vous n'avez pas accès à cette page</h3>
  <% end %>