<div class="container mt-5">
  <% @companies.each do |company| %>
    <div class="border p-3">
      <p><%= company.name %></p>
      <p> <%= company.address %></p>
      <p>Société à l'IS : <%= company.corporate_tax %></p>
      <p>Société soumis à la TVA : <%= company.vat %></p>
      <p><%= company.access %></p>
      <%= link_to "Voir", company_path(company)  %>
      <%= link_to "Modifier", edit_company_path(company)  %>
      <%= link_to "Supprimer", company_path(company), method: :delete  %>
    </div>
  <% end %>
  <%= link_to "Ajouter une société", new_company_path  %>
</div>