<h3 class="text-center mt-5 mb-4">Ajouter une nouvelle société</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@company] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :corporate_tax, as: :radio_buttons, collection: [[true, "Oui"], [false, "Non"]], label_method: :second, value_method: :first, label: "Soumis à l'IS" %>
          <%= f.input :vat, as: :radio_buttons, collection: [[true, "Oui"], [false, "Non"]], label_method: :second, value_method: :first, label: "Soumis à la TVA" %>
          <%= f.input :associe, label: "Ajoutez les emails des associés séparés d'une , afin de leurs donner accès" %>
          <%= f.submit "Créer", class: "btn btn-yellow-mustard mb-2" %>
          <%= link_to "Annuler", root_path, class:"btn btn-danger mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>