<style>
  #search_year {
    width: 100%;
  }
  
  #search_company {
    width: 100%;
  }
  
  #search_building {
    width: 100%;
  }
  
  #search_apartment {
    width: 100%;
  }
</style>
<div class="container-fluid">
  <div class="row">
    <%= render 'shared/vertical_navbar' %>
    <div class="col-12 col-md-10" style="overflow: scroll">
      <% if params[:building_id] != nil %>
        <% unless @building.statut == "deleted" || @building.company.statut == "deleted" %>
          <% associe = @building.company.associe.downcase.split(",").map(&:strip) %>
          <% if associe.include?(current_user.email) || @building.company.user == current_user || @building.user == current_user || current_user.admin == true %>
            <div class="container my-5">
              <h3 class="text-center mt-5" style="color: #D8A727; font-family: Simply Rounded; letter-spacing: 1px">Vos dépenses</h3>
              <h5 class="text-center mb-4"><%= @building.address %></h5>
              <p class="mt-5">
                <%= link_to "Page d'accueil", root_path, style:"text-decoration:none; color:rgb(100, 100, 100)"  %> >
                <%= link_to "Sociétés", companies_path, style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
                <%= link_to "Immeubles", company_buildings_path(@building.company), style:"text-decoration:none; color:rgb(100, 100, 100)" %>
              </p>
              <div class="mt-2 mb-4 border-top pt-3"></div>
              <%= render 'shared/icon_expenses' %>
              <% unless @apartments == [] %>
                <div class="row">
                  <div class="p-3 col-12 col-md-6 offset-md-3 my-4">
                    <div class="p-4 content border mb-4", style="box-shadow: 0 0 5px rgba(0,0,0,0.1); background-color: white">
                      <p style="font-weight: bolder">Chiffres <%= Date.today.year %> : Immeuble <%= @building.address %></p>
                      <p class="mb-1">Loyers charges comprises encaissés : <%= '%.0f' % (@building_sum_rent_paid + @building_sum_service_charge_paid) %> € </p>
                      <p><em>Loyers hors charges encaissés : </em><%= '%.0f' % @building_sum_rent_paid  %> €</p>
                      <p class="border-bottom mx-4"> </p>
                      <p class="mb-1">Loyers charges comprises manquant : <%= '%.0f' % @building_solde %> €</p>
                      <p class="mb-1">Loyers charges comprises attendus : <%= '%.0f' % @building_loyer_annuel  %> €</p>
                      <% if @building_loyer_annuel != 0 && @building_loyer_annuel != nil  %>
                        <p>% atteint : <%= '%.2f' % ((@building_sum_rent_paid + @building_sum_service_charge_paid) / @building_loyer_annuel * 100)  %> %</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <!-- Expenses -->
              <h5 class="border-top pt-3"></h5>
              <div class="mt-2 mb-4">
                <p><%= link_to "Ajouter une dépense", new_expense_path, class:"btn btn-transparent-bold"%></p>
              </div>
              <!-- recherche date -->
              <%= form_for :search, defaults: { required: false }, url:building_expenses_path(@building), method: "GET", html: { class: '' } do |f| %>
                <div class="mb-3 d-flex align-items-center">
                  <%= f.select :date,  [(Date.today.year+2), (Date.today.year+1), Date.today.year, Date.today.year - 1,Date.today.year - 2, Date.today.year - 3 ], :selected =>Date.today.year, html: { style:"border: solid"} %>
                  <%= f.submit "Choisir", class: "btn btn-yellow-mustard-small ml-2" %>
                </div>
              <% end %>
              <div class="" style="overflow:scroll;">
                <div class="mb-5" style="font-size: 12px ">
                  <table class="table table-hover" style="background-color: white">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Appartement</th>
                        <th scope="col">Type</th>
                        <th scope="col">Fournisseurs</th>
                        <th scope="col" class="text-right">MT TTC</th>
                        <th scope="col" class="text-right">TVA</th>
                        <th scope="col">Déductible</th>
                        <th scope="col">Justificatif</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @expenses_list.each do |expense| %>
                        <tr>
                          <td><%= expense.date.strftime("%d/%m/%Y") %></td>
                          <td><%= expense.apartment_name %></td>
                          <td><%= expense.expense_type %></td>
                          <td><%= expense.supplier %></td>
                          <td class="text-right"><%= '%.2f' % expense.amount_ttc %></td>
                          <td class="text-right"><%= '%.2f' % expense.amount_vat %></td>
                          <td class="text-center"><%= expense.deductible ? "Oui" : "Non" %></td>
                          <td>
                            <%= link_to "Ouvrir", "https://res.cloudinary.com/myhouze/image/upload/#{expense.photo.filename}", :target => "_blank",class: "btn btn-transparent py-0", style: "font-size:12px" %>
                          </td>
                          <td>
                            <%= link_to "", edit_expense_path(expense), class:"fas fa-edit mr-2" %>
                            <%= link_to "",expense_path(expense), method: :delete, data: { confirm: "Confirmez-vous la suppression de la saisie?" }, class:"fas fa-trash ml" %>
                          </td>
                        </tr>
                      <% end %>
                      <tr style="font-weight: bolder">
                        <td>TOTAL</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><%= '%.2f' % @sum_ttc %></td>
                        <td class="text-right"><%=  '%.2f' % @sum_vat %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
              </div>
            </div>
          <% else %>
            <h3 class="text-center my-5" style="color:red">Vous n'avez pas accès à cette page</h3>
          <% end %>
        <% else %>
          <h3 class="text-center my-5" style="color:red">Cet immeuble a été supprimé</h3>
        <% end %>
      <% else %>
        <div class="container mt-5">
          <h3 class="text-center mt-5" style="color: #D8A727; font-family: Simply Rounded; letter-spacing: 1px">Vos dépenses </h3>
          <%= form_for :search, defaults: { required: false }, url:expenses_path, method: "GET", html: { class: '' } do |f| %>
            <div class="mt-5 mb-3">
              <% if params[:search] != nil %>
                <div class="row">
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :year,  @years,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false, selected: params[:search][:year]  %>
                  </div>
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :company, @companies_array ,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false, selected: params[:search][:company]  %>
                  </div>
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :building, @buildings_array ,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false, selected: params[:search][:building]  %>
                  </div>
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :apartment, @apartments_array ,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false, selected: params[:search][:apartment]  %>
                  </div>
                  <div class="col-9 col-md pr-0 d-flex align-items-center mt-1">
                    <%= f.submit "Filtrer", class: "btn btn-yellow-mustard-small" %>
                  </div>
                </div>
              <% else %>
                <div class="row">
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :year,  @years,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false, selected: Date.today.year  %>
                  </div>
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :company, @companies_array ,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false  %>
                  </div>
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :building, @buildings_array ,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false  %>
                  </div>
                  <div class="col-9 col-md pr-0 mt-1">
                    <%= f.select :apartment, @apartments_array,html: { style:"border: solid; width:10vh"}, include_blank: false, include_hidden: false %>
                  </div>
                  <div class="col-9 col-md pr-0 d-flex align-items-center mt-1">
                    <%= f.submit "Filtrer", class: "btn btn-yellow-mustard-small" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <h5 class="border-top pt-3"></h5>
          <div class="mt-2 mb-4">
            <p><%= link_to "Ajouter une dépense", new_expense_path, class:"btn btn-transparent-bold"%></p>
          </div>
          <div class="" style="overflow:scroll;">
            <div class="mb-5" style="font-size: 12px ">
              <table class="table table-hover" style="background-color: white">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Société</th>
                    <th scope="col">Immeuble</th>
                    <th scope="col">Appartement</th>
                    <th scope="col">Type</th>
                    <th scope="col">Fournisseurs</th>
                    <th scope="col" class="text-right">MT TTC</th>
                    <%# if @building.company.corporate_tax == true %>
                    <th scope="col" class="text-right">TVA</th>
                    <%# end %>
                    <th scope="col">Déductible</th>
                    <th scope="col">Justificatif</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @expenses_list.each do |expense| %>
                    <tr>
                      <td><%= expense.date.strftime("%d/%m/%Y") %></td>
                      <td><%= expense.company_name %></td>
                      <td><%= expense.building_name %></td>
                      <td><%= expense.apartment_name %></td>
                      <td><%= expense.expense_type %></td>
                      <td><%= expense.supplier %></td>
                      <td class="text-right"><%= '%.2f' % expense.amount_ttc %></td>
                      <%# if @building.company.corporate_tax == true %>
                      <td class="text-right"><%= '%.2f' % expense.amount_vat %></td>
                      <%# end %>
                      <td class="text-center"><%= expense.deductible ? "Oui" : "Non" %></td>
                      <td>
                        <%= link_to "Ouvrir", "https://res.cloudinary.com/myhouze/image/upload/#{expense.photo.filename}", :target => "_blank",class: "btn btn-transparent py-0", style: "font-size:12px" %>
                      </td>
                      <td>
                        <%= link_to "", edit_expense_path(expense), class:"fas fa-edit mr-2" %>
                        <%= link_to "",expense_path(expense), method: :delete, data: { confirm: "Confirmez-vous la suppression de la saisie?" }, class:"fas fa-trash ml" %>
                      </td>
                    </tr>
                  <% end %>
                  <tr style="font-weight: bolder">
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <%# if @building.company.corporate_tax == true %>
                    <%# end %>
                    <td></td>
                    <td></td>
                    <td class="text-right"><%= '%.2f' % @sum_ttc %></td>
                    <td class="text-right"><%=  '%.2f' % @sum_vat %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  // If field company is change
  document.querySelector("#search_company").addEventListener("change", (event) => {
    let urlPath = origin
    let url = urlPath + "/expenses.json"
    // GET REQUEST
    fetch(url)
     .then(response => response.json())
      .then((data) => {
        const input = document.querySelector("#search_company");
        const output = document.querySelector("#search_building");
        // Get the information in the field company
        const input_data = input.options[input.selectedIndex].text;
        if (input_data != "Toutes les sociétés") {
          // Delete information in the filed building
          output.innerText = ""
          // Add n/a - aucun immeuble
          output.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les immeubles">Tous les immeubles</option>
            <option value="n/a - aucun immeuble">n/a - aucun immeuble</option>
            `
          );
          // Add all building where company is the same as input
          data.forEach((item)=>{
            if (item.company_name == input_data) {
              output.insertAdjacentHTML('beforeend',
                `<option value="${item.building_name}">${item.building_name}</option>`
              );
            }
          });
          const input_a = document.querySelector("#search_building");
          const output_a = document.querySelector("#search_apartment");
          // Get the information in the field building
          const input_data_a = input_a.options[input_a.selectedIndex].text;
          output_a.innerHTML = ""
          // Add Tous les locataires
          output_a.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les appartements">Tous les appartements</option>
            `
          );
          // Add all tenant where company is the same as input
          data.forEach((item_a)=>{
            if (item_a.apartment_company_name == input_data ) {
              output_a.insertAdjacentHTML('beforeend',
                `<option value="${item_a.apartment_name}">${item_a.apartment_name}</option>`
              );
            }
          });
        } else if (input_data === "Toutes les sociétés") {
          // Get the information in the field company
          const input_data = input.options[input.selectedIndex].text;
          // Delete information in the filed building
          output.innerText = ""
          // Add n/a - aucun immeuble
          output.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les immeubles">Tous les immeubles</option>
            <option value="n/a - aucun immeuble">n/a - aucun immeuble</option>
            `
          );
          // Add all building of user
          data.forEach((item)=>{
            if (item.building_name != undefined) {
              output.insertAdjacentHTML('beforeend',
                `<option value="${item.building_name}">${item.building_name}</option>`
              );
            }
          });
          const input_a = document.querySelector("#search_building");
          const output_a = document.querySelector("#search_apartment");
          // Get the information in the field building
          const input_data_a = input_a.options[input_a.selectedIndex].text;
          output_a.innerHTML = ""
          // Add Tous les locataires
          output_a.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les appartements">Tous les appartements</option>
            `
          );
          // Add all tenants
          data.forEach((item_a)=>{
            if (item_a.apartment_name != undefined ) {
              output_a.insertAdjacentHTML('beforeend',
                `<option value="${item_a.apartment_name}">${item_a.apartment_name}</option>`
              );
            }
          });
        };
      }
    );
  });
  // If field building is change
  document.querySelector("#search_building").addEventListener("change", (event) => {
    let urlPath = origin
    let url = urlPath + "/expenses.json"
    // GET REQUEST
    fetch(url)
     .then(response => response.json())
      .then((data) => {
        const input = document.querySelector("#search_company");
        const input_a = document.querySelector("#search_building");
        const output_a = document.querySelector("#search_apartment");
        // Get the information in the field company
        const input_data = input.options[input.selectedIndex].text;
        // Get the information in the field building
        const input_data_a = input_a.options[input_a.selectedIndex].text;
        if (input_data === "Toutes les sociétés" && input_data_a != "Tous les immeubles") {
          // Delete information in the filed building
          output_a.innerText = ""
          // Add n/a - aucun immeuble
          output_a.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les appartements">Tous les appartements</option>
            `
          );
          // Add all building where company is the same as input
          data.forEach((item)=>{
            if (item.apartment_building_name == input_data_a) {
              output_a.insertAdjacentHTML('beforeend',
                `<option value="${item.apartment_name}">${item.apartment_name}</option>`
              );
            }
          });
        } else if (input_data != "Toutes les sociétés" && input_data_a != "Tous les immeubles") {
          // Delete information in the filed building
          output_a.innerText = ""
          // Add n/a - aucun immeuble
          output_a.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les appartements">Tous les appartements</option>
            `
          );
          // Add all building where company is the same as input
          data.forEach((item)=>{
            if (item.apartment_company_name == input_data && item.apartment_building_name == input_data_a) {
              output_a.insertAdjacentHTML('beforeend',
                `<option value="${item.apartment_name}">${item.apartment_name}</option>`
              );
            }
          });
        } else if (input_data === "Toutes les sociétés" &&input_data_a === "Tous les immeubles") {
          // Delete information in the filed building
          output_a.innerText = ""
          // Add n/a - aucun immeuble
          output_a.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les appartements">Tous les appartements</option>
            `
          );
          // Add all building where company is the same as input
          data.forEach((item)=>{
            if (item.apartment_name != undefined) {
              output_a.insertAdjacentHTML('beforeend',
                `<option value="${item.apartment_name}">${item.apartment_name}</option>`
              );
            }
          });
        } else if (input_data != "Toutes les sociétés" &&input_data_a === "Tous les immeubles") {
          // Get the information in the field company
          const input_data_a = input_a.options[input_a.selectedIndex].text;
          const input_data = input.options[input.selectedIndex].text;
          // Delete information in the filed building
          output_a.innerText = ""
          // Add n/a - aucun immeuble
          output_a.insertAdjacentHTML('beforeend',
            `
            <option value="Tous les appartements">Tous les appartements</option>
            `
          );
          // Add all building of user
          data.forEach((item)=>{
            if (item.apartment_company_name === input_data) {
              output_a.insertAdjacentHTML('beforeend',
                `<option value="${item.apartment_name}">${item.apartment_name}</option>`
              );
            }
          });
        };
      }
    );
  });
</script>