<h3 class="text-center mt-5 mb-4">Ajouter une dépense</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@building, @expense] do |f| %>
          <% if @building.company.corporate_tax == true %>
            <p class="mb-2">Date de facturation</p>
            <%= f.input :date, label:false, :order => [:day, :month, :year] %>
          <% else %>
            <p class="mb-2">Date de paiement</p>
            <%= f.input :date, label:false, :order => [:day, :month, :year] %>
          <% end %>
          <%= f.input :apartment_name, label: "Appartement concerné", collection: @apartment_name %>
          <%= f.input :expense_type, label: "Type de dépense", collection:
            [
              "Assurance",
              "Eau",
              "Electricité",
              "Frais bancaire",
              "Honoraire de gestion",
              "Frais de nettoyage",
              "Maintenance chaudière",
              "Remplacement chaudière",
              "Réparation et rénovation",
              "Intérêt d'emprunt",
              "Taxe foncière",
              "Frais de notaire",
              "Frais de dossiers et caution",
              "Charges non payées au départ du locataire",
              "Autres frais"
              ] %>
          <%= f.input :supplier, label: "Nom du fournisseur et description" %>
          <%= f.input :amount_ttc, label: "Montant TTC" %>
          <% if @building.company.corporate_tax == true %>
            <%= f.input :amount_vat, label: "Montant de TVA", input_html: { value: 0}%>
          <% else %>
            <%= f.input :amount_vat, as: :hidden, label: "Montant de TVA", input_html: { value: 0}%>
          <% end %>
          <%= f.input :photo, label: false %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :deductible, as: :radio_buttons, collection: [[true, "Oui"], [false, "Non"]], label_method: :second, value_method: :first, label: "Charge déductible", checked: true  %>
          <%= f.submit "Créer", class: "btn btn-yellow-mustard mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>