<h3 class="text-center mt-5 mb-4">Ajouter un nouvel appartement</h3>
<div class="container center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="center">
        <%= simple_form_for [@apartment] do |f| %>
          <%= f.input :company_id, collection: @companies, label: "Selectionner une société", include_blank: "n/a - détention en nom propre", include_hidden: false, class:"field_input" %>
          <%= f.input :building_id, collection: @buildings, label: "Selectionner un immeuble", include_blank: "n/a - aucun immeuble", include_hidden: false %>
          <%= f.input :name, label: "Saisir un nom, identifiant, référence ou numéro unique" %>
          <%= f.input :water, label: "Numéro du compteur d'eau" %>
          <%= f.submit "Créer", class: "btn btn-yellow-mustard mb-2" %>
          <%= link_to "Annuler", root_path, class:"btn btn-danger mb-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  let urlPath = origin
  let url = urlPath + "/apartments.json"

  // GET REQUEST
  fetch(url)
   .then(response => response.json())
    .then((data) => {
      console.log(data)
      const input = document.querySelector("#apartment_company_id");
      const output = document.querySelector("#apartment_building_id");
      // console.log(output)
      // let counter = 0;
      input.addEventListener("mouseover", (event) => {
        console.log(event)
        const input_data = input.options[input.selectedIndex].text;
        console.log(input_data)
        // counter  =  Number((event.timeStamp).toFixed(0));
        // Number of choice in the dropdown button
        const count_options = output.options.length
        let i;
        for (i = 0; i < count_options; i++) {
          output.options[i].text = "";
        }

        console.log(count_options)
        output.options[0].insertAdjacentHTML('beforeend',
          `
          <div>

          </div>
          `
        );
      });
    }
  );
</script> -->