<% associe = @apartment.building.company.associe.split(",").map(&:strip) %>
<% if associe.include?(current_user.email) %>
  <div class="container mt-5">
    <h3 class="text-center mt-5" style="color: #D8A727; font-family: Simply Rounded; letter-spacing: 1px">Détails du locataire</h3>
    <h5 class="text-center">de l'appartement : <%= @apartment.name %></h5>
    <h5 class="text-center mb-4">situé au <%= @apartment.building.address %></h5>
    <p class="mt-5">
      <%= link_to "Home", root_path, style:"text-decoration:none; color:rgb(100, 100, 100)"  %> >
      <%= link_to "Sociétés", companies_path, style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
      <%= link_to "Immeubles", company_path(@apartment.building.company), style:"text-decoration:none; color:rgb(100, 100, 100)" %> >
      <%= link_to "Appartments", building_path(@apartment.building), style:"text-decoration:none; color:rgb(100, 100, 100)"  %> >
      <%= link_to "Locataire", apartment_path(@apartment), style:"text-decoration:none; color:rgb(100, 100, 100)"   %>
    </p>
    <% unless @tenants == [] %>
      <div class="row">
        <div class="p-3 col-12 col-md-6 offset-md-3 mt-4">
          <div class="p-4 content border mb-4", style="box-shadow: 0 0 5px rgba(0,0,0,0.1); background-color: white">
            <p style="font-weight: bolder">Chiffres <%= Date.today.year %> : Appartement <%= @apartment.name %></p>
            <p class="mb-1">Total loyers encaissés : <%= '%.0f' % (@apartment_sum_rent_paid + @apartment_sum_service_charge_paid) %> €</p>
            <p class="mb-1">Total loyers manquant : <%= '%.0f' % @apartment_solde %> €</p>
            <p class="mb-1">Total loyers attendus pour <%= Date.today.year %> : <%= '%.0f' % @loyer_annuel  %> €</p>
            <p>% atteint : <%= '%.2f' % ((@apartment_sum_rent_paid + @apartment_sum_service_charge_paid) / @loyer_annuel * 100)  %> %</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row mt-5">
      <div class="col-12 col-md-6 offset-md-3">
        <p><%= link_to "Ajouter un locataire", new_apartment_tenant_path(@apartment), class:"btn btn-transparent-bold"%></p>
      </div>
    </div>
    <% counter = 1 %>
    <% @tenants.each do |tenant| %>
      <div class="row">
        <div class="p-3 col-12 col-md-6 offset-md-3">
          <div class="p-4 content border mb-4", style="box-shadow: 0 0 5px rgba(0,0,0,0.1); background-color: white">
            <div class="d-flex align-items-center mb-3 justify-content-center">
              <p class="m-0 p-0" style="color: #D8A727; font-family: Simply Rounded; font-size: 22px; letter-spacing: 1px">Locataire <%= counter %></p>
              <%= link_to "", edit_tenant_path(tenant)  , class:"fas fa-edit ml-2", style:"font-size:12px"  %> /
              <%= link_to "", tenant_path(tenant), method: :delete, class:"fas fa-trash", style:"font-size:12px" %>
            </div>
            <p>Locataire en place : <%= tenant.current_tenant ? "Oui" : "Non"%></p>
            <p class=" mt-0 mb-1" style="" ><i class="fas fa-user mr-3" style="color: #D8A727"></i><%= tenant.first_name %> <%= tenant.last_name %> </p>
            <p class=" mt-0 mb-1" style="" ><i class="fas fa-envelope mr-3" style="color: #D8A727"></i><%= tenant.email %></p>
            <p class=" mt-0 mb-3" style="" ><i class="fas fa-phone-square mr-3" style="color: #D8A727"></i><%= tenant.phone %></p>
            <p class="mb-1">Loyer : <%= tenant.rent %></p>
            <p class="mb-1">Charges : <%= tenant.service_charge %></p>
            <p>Dépôt de garantie : <%= tenant.deposit %></p>
            <p class="mb-1">Date d'entrée : <%= tenant.move_in_date %></p>
            <% if tenant.current_tenant == false  %>
              <p>Date de sortie : <%= tenant.move_out_date %></p>
            <% end %>
            <!-- <p>Statut : <%#= tenant.statut %> </p> -->
            <div class="d-flex mt-3 justify-content-end">
              <%= link_to "Voir détails", tenant_path(tenant), class:"btn btn-yellow-mustard"  %>
            </div>
          </div>
        </div>
      </div>
      <% counter += 1 %>
    <% end %>
  </div>
<% else %>
  <h3 class="text-center my-5" style="color:red">Vous n'avez pas accès à cette page</h3>
<% end %>